<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donors stats</title>
    <meta http-equiv="refresh" content="60; URL=http://localhost:8181/stats/regs">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="mx-4">
    <p class="text-2xl font-bold mb-4">
        Cтатистика за день
    </p>
    <table>
        <thead>
        <tr>
            <th>Donor`s name</th>
            <th>Hits</th>
            <th>Regs</th>
        </tr>
        </thead>
        <tbody class="text-center text-sm">
        {% for donor in donors %}
        <tr>
            <td class="border">{{ donor.name }}</td>
            <td class="border">{{ donor.hits }}</td>
            <td class="border">{{ donor.regs }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
